// ---------------------- Colors
$primary: #f38c59;
$green: #69ca95;
$yellow: #ffd014;
$red: #f5775e;
$white: #fff;
$black: rgb(52, 52, 52);
$grey: #cac5c1;
$grey-dark: #7c7977;
$grey-light: #f8f8f8;
$grey-lighter-bg: #f0f0f0;

// ---------------------- Shadows
$shadow: 0 0 20px rgba(0, 0, 0, 0.15);
$shadow-light: 0 0 10px rgba(0, 0, 0, 0.1);
