@import '../../theme/theme.scss';

.password_modal {
  padding: 45px;
  border-radius: 5px;
  min-width: 750px;
  min-height: 500px;
  box-shadow: $shadow;
  background: $white;

  .custom_input {
    margin-top: 10px;
  }
  
  .second_title {
    margin-top: 20px;
  }
}

.status_bar_wrp {
  margin-top: 10px;
  display: grid;
  grid-row-gap: 25px;

  .red_col {
    background: $red;
  }

  .yellow_col {
    background: $yellow;
  }

  .green_col {
    background: $green;
  }
}

